<ion-header class="ion-no-border">
  <ion-item lines="none">

    <ion-label>
      <h2>Restaurant Menu</h2>
      <p>Habib Dev.</p>
    </ion-label>

    <!-- <ion-avatar slot="end" (click)="presentPopover(event)">
      <img src="https://yt3.ggpht.com/a-/AOh14GjThP6xpdHXuwV9tVt7wMvBIytCfvZm4N_BkN1MrA=s288-c-k-c0xffffffff-no-rj-mo">
    </ion-avatar> -->

  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">

<div class="ion-padding wrapper">

  




    
      
    
</div>
   
	


</ion-content>