<ion-card class="card">
  <ion-card-content class="ion-text-left">

    <div class="img-wrapper">
      <ion-img src="https://images.pexels.com/photos/315755/pexels-photo-315755.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card-title class="title" >{{product.getProductName()}}</ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card-subtitle>Some description here</ion-card-subtitle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card-subtitle>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </ion-card-subtitle>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <ion-button color="primary" size="small" shape="round" (click)="addToCart(product)">Add To Cart</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card-content>
</ion-card>
