ion-item {
    --background: rgba(248, 248, 250, .96);
  
    h2 {
      font-weight: bold;
      font-size: 18px;
      padding-top: 8px;
    }
  
}
  
ion-menu{
    --background: #f8f8fa;
}

ion-content {
    --background: #f8f8fa;
}

ion-list{
    --background: rgba(248, 248, 250, .96);
}

ion-app{
    --background: rgba(248, 248, 250, .96);
}

ion-toolbar{
    --background: #f8f8fa;
}